[2012-01-23 20:57] xiongchiamiov opened #4 "Add license"
Unfortunately, public domain is not well-defined; in fact, it's not even possible in some countries (Germany, iirc) to release things into the public domain.

Please consider changing the license to explicitly give away rights using [the WTFPL](http://sam.zoy.org/wtfpl/) or [the Fair License](http://www.opensource.org/licenses/Fair).

[2012-01-26 06:40] icy commented on #4
Thank you _xiongchiamiov_. I will update license information soon.

[2012-01-27 02:47] icy commented on #4
The WTFPL sounds fun :) Are there any problems if we use it for the tool? ("f*ck" may bother some people)

[2012-01-28 01:25] xiongchiamiov commented on #4
Well, [there are some people](https://github.com/dimitri/el-get/issues/474) who get offended.  If that's of concern to you, I'd recommend using the Fair License - it's essentially the same thing.

I use the WTFPL for almost all of my personal projects, and it hasn't been an issue.  But then again, not many people use my stuff. ;)

[2012-01-30 14:28] icy commented on #4
Thank you.

License information has been updated (https://github.com/icy/pacapt/commit/8975fb237bb5f3737a85bb08a91cb960fbcd839e).

Please let me know if there is any problem.

[2012-01-30 14:28] #4 closed, assigned to nobody

[2012-09-15 16:21] Red54 opened #13 "Add -Rn & -Rns & -Rsn & -Syu"
pacman -Rn => apt-get purge
pacman -Rns => apt-get --purge autoremove
pacman -Rsn => apt-get --purge autoremove

pacman -Syu => pacman -Suy
It seems that so many people are used to use -Syu

[2012-09-16 20:07] xiongchiamiov commented on #13
I suppose that really the system should be overhauled a little so that the order of secondary arguments is not important - rather than creating a number of aliases (-Syu -> -Suy, etc.), the script should figure that out for itself.

The most elegant way I see of manually doing it is using fall-throughs, but apparently those were only added to bash [in version 4](http://stackoverflow.com/questions/

[2012-09-17 00:10] icy commented on #13
About `pacman -Syu` and `pacman -Suy`: Yes, I agree with _xiongchiamiov_. The order isn't important, and they are both working with the current version of `pacapt`. The `README` only mentions `pacman -Suy`, that's an issue of the documentation and I will fix it.

About `pacman -Rn` and `pacman -Rns`: I don't really know if the feature is the same in Arch and Debian. I will take a  look, but the id

[2012-09-26 14:25] icy commented on #13
Hi,

I am sorry for my belated response.

According to [Rosetta](https://wiki.archlinux.org/index.php?title=Pacman_Rosetta), `apt-get autoremove` is equivalent to `pacman -Qdtq | pacman -Rs -`; this means that there isn't any single option in `pacman` that can work as same as `apt-get autoremove`. If we need to support the feature `autoremove`, we need some new option group to our `pacapt`.

Any i

[2013-09-23 02:04] icy opened #19 "Rewrite the script"
Now all OS-specific commands are put together (side-by-side). That's really messy, and it's hard to maintain the main script. We will move all OS-specific commands into a directory or librarry (that is dedicated for the OS); the main script will locate them when needed.

[2013-10-04 08:24] icy opened #23 "Hombrew: review the code for the option "Qo""
@Arcterus

The code is as below

[code]

The use of `which $_PKG` is very weird. It would be often a path to binary here, but $_PKG is not in our case. Please check and confirm if that line is really working.

Thank you.

[2013-10-04 08:25] icy commented on #23
This code was added in the commit 2a668dc33d288967e6c1aad94a7905fb7ee884be . I've fixed in the commit e55063e9dde2371381f0a8361c3559231c6e14fc to prevent a shell expansion.

[2013-10-08 23:34] Arcterus commented on #23
It worked before (FYI, it also works now).  Your commit only modified the location where the expansion occurs.  It doesn't really matter where, as the variables aren't being updated within the loop.

[2013-10-09 01:28] Arcterus commented on #23
Also, I think that `which` should be `command -v` for the sake of consistency.

[2013-10-09 02:41] icy commented on #23
On Tue, 08 Oct 2013 16:34:12 -0700
Arcterus notifications@github.com wrote:

The early expansion will work on all system. For example, if `pacapt`
is executed on Debian system, the expansion happens, and generate
the error, because something is not available on Debian.

[2013-10-09 02:48] Arcterus commented on #23
Ah, I see.  Well, in that case the only variables (from what I can tell) that NEED to be expanded latter are the ones involving `brew`, as that is the only Homebrew-specific command.  However, the new code is probably better.

[2013-10-09 03:31] icy commented on #23
On Tue, 08 Oct 2013 19:48:48 -0700
Arcterus notifications@github.com wrote:

Yes that's right. The current script still has something wrong with
expansion, and I hope to fix them in #19 :)

[2013-11-12 06:30] #23 closed, assigned to nobody

[2013-11-13 12:20] unhammer opened #24 "pacapt -Si foo should run "apt-cache show foo""
If foo is not installed, you can get the info using "apt-cache show foo".

[2013-11-13 13:57] icy commented on #24
Thank you @unhammer . I will take a look.

[2013-11-15 10:29] #24 closed, assigned to nobody

[2014-04-18 08:44] icy commented on #19
Things to do:
1. Detect OS
2. Detect Options and Operations (Oo)
3. Load the script file, for example, `scripts/Debian/Oo.sh`
4. Use environments instead of arguments

[2014-04-18 15:32] icy commented on #19
@NgoHuy is working on this.

[2014-05-04 14:20] icy commented on #19
The next generation of the script can be found under `ng` branch (https://github.com/icy/pacapt/tree/ng)

[2014-05-04 14:20] #19 closed, assigned to icy

[2014-05-04 23:21] icy commented on #13
Implemented in
- https://github.com/icy/pacapt/commit/86fba36138360c254d791bb360007fe178dfa9a6 (option detection)
- https://github.com/icy/pacapt/commit/40a1348309a10c18648f393c710ee214a911558c (debian)

[2014-05-04 23:21] #13 closed, assigned to icy

[2014-06-07 08:40] icy opened #27 "Test `ng` pacapt on some systems"
@icy Debian, Centos, freebsd
@NgoHuy: Gentoo, OpenSUSE

[2014-08-28 14:25] NgoHuy opened #29 "Hỗ trợ nhóm lệnh `yum group`"
Hiện tại trong `pacman` có option `-Sg` để liệt kê các gói trong một nhóm, thông tin nhóm, trong yum có lệnh tương ứng là `yum grouplist` và cài đặt nhóm `yum groupinstall`

Đề xuất hỗ trợ cài đặt nhóm cho nhóm lệnh `yum`.

[2014-08-29 05:24] icy commented on #29
Ok a sẽ coi xem. Cảm ơn @NgoHuy

[2015-03-13 17:16] cuonglm opened #40 "DOS/DDOS attack in pacapt"
Forgetting quote variables in shell script leading to many security implications. I took a look at `pacapt` source code and saw one issue. Currently, if you run:

[code]

then it push server to heavy load, even if mightiest servers. Imaging some commands like this ran and what will happen?

The issue came from `lib/zz_main.sh`, line 17:

[code]

`:` is the no-op command, but `PACAPT_DEBUG` still b

[2015-03-13 17:50] icy commented on #40
Fixed in #39

[2015-03-13 17:50] #40 closed, assigned to nobody

[2015-03-14 05:02] icy commented on #29
See also #30 . Pull request was rejected. Please consider to create another one. Thank you.

[2015-03-14 05:02] #29 closed, assigned to nobody

[2015-04-07 08:58] icy opened #42 "Add pkg_tools support to stable version"
The pkg_tools support (#34) is now on `ng` branch . However, the work isn't on the stable version. We need to clean up some (possibly) conflicts between two branches `ng` and `v2.0` to complete the pull request.

[2015-04-26 14:19] rndmh3ro opened #43 "Add "assumeyes" or "noconfirm" option"
Right now there's no way to perform an unattended installation of a package, e.g.

[code]

or

[code]

There should be something like

[code]

[2015-04-27 01:28] icy commented on #43
Nice idea, @rndmh3ro . I will wok on this.

[2015-04-27 04:02] icy opened #44 "package name mapping"
Example

[code]

will be translated to `apache2` `apache` or `http` according to the OS where `pacapt` is running.

The first goal is to support some popular packages

[2015-05-02 05:16] icy opened #46 "Add Dockerfile(s) to generate testing containers"
See the initial works on the `docker` branch.

[2015-05-02 05:16] icy commented on #27
Close due to #46

[2015-05-02 14:49] icy commented on #42
It's ready with https://github.com/icy/pacapt/commit/8b1047eb8c65b55725bf0adfb99c5302f731cd83

[2015-05-02 14:49] #42 closed, assigned to nobody

[2015-05-02 14:52] icy opened #47 "homebrew: is $(brew --cache) safe?"
CC @xiongchiamiov

Link to source code: https://github.com/icy/pacapt/blob/ng/lib/homebrew.sh#L109

The (`homebrew_Sccc`) function will delete all files from `$(brew --cache)`. Is that expansion safe, @xiongchiamiov ?

I have disabled the feature (`homebrew/Sccc`), but we can enable them quickly after a confirmation.

[2015-05-02 14:55] icy commented on #46
It's very simple https://github.com/icy/pacapt/blob/ng/CONTRIBUTING.md#testing

We have to think of testing, though.

[2015-05-02 14:57] #46 closed, assigned to nobody

[2015-05-04 19:39] xiongchiamiov commented on #47
I can't find an online copy of it, but it's actually the recommendation of the homebrew man page:

[2015-05-04 19:42] xiongchiamiov commented on #47
Although to be safe, I suppose it should be quoted (`rm -rf "$(brew --cache)"`) in case someone sets it to a directory with a space in it.  But I don't even know if you can do that without modifying the homebrew source, and it'd be a stupid thing to do.

[2015-05-05 07:46] icy commented on #47
Thank you for your information, @xiongchiamiov .

What is the result of `brew --cache`? Is that a path or a set of paths?

[2015-05-05 16:58] xiongchiamiov commented on #47
It's a single path, generally `/Library/Caches/Homebrew` or `~/Library/Caches/Homebrew`.  I believe it should always be a single directory.

[2015-05-06 03:46] #47 closed, assigned to nobody

[2015-05-06 03:47] icy commented on #47
Thank you @xiongchiamiov . I have committed in https://github.com/icy/pacapt/commit/b369d7edbc3b4050004ec0d1c4ca80faade0acba

[2015-05-12 07:42] icy opened #48 "Support DNF the new package manager on Fedora"
Announcement: http://www.phoronix.com/scan.php?page=news_item&px=DNF-1.0-Over-Yum-Fedora
Command line reference: http://dnf.readthedocs.org/en/latest/command_ref.html

[2015-05-15 11:26] ssbarnea commented on #44
:+1:

[2015-05-15 11:27] ssbarnea commented on #43
:+1: wondering why is closed, not having this is a deal breaker for me.

[2015-05-15 12:25] icy commented on #43
@ssbarnea The remote ticket (https://github.com/hardening-io/tests-ssh-hardening/issues/47) is closed (actually it's escalated to _ansible-kitchen_ project).

This ticket per-se is still open, and I hope to get it done in the next release. Stay tuned!

[2015-05-21 04:05] NgoHuy commented on #43
please check my pull request #49
Thank you very much

[2015-05-22 21:04] xiongchiamiov opened #50 "Support -Sii"
Today I found myself wondering why I had a certain package installed, and discovered that pacman's `-Sii` operation (find reverse dependencies) isn't yet implemented.

It [looks like](https://wiki.archlinux.org/index.php/Pacman_Rosetta) it's not incredibly widely-supported, but it'd be nice to have for the systems that have that information.

[2015-05-23 15:24] NgoHuy commented on #50
I see it same as `-Qi` , should we implement it ?

[2015-05-23 23:20] icy commented on #50
It's not the same, Huy.

[2015-05-24 01:36] NgoHuy commented on #50
my fault :)

[2015-05-26 15:34] icy commented on #50
`Sii` is now supported in `dpkg` and `yum`.

[2015-05-26 18:15] xiongchiamiov commented on #50
You're a boss. :)

[2015-05-27 02:56] icy commented on #50
Now we have a fancy table to see if something is missing: https://github.com/icy/pacapt#implemented-operations ;)

[2015-07-05 14:33] baronleonardo opened #53 "[Request] pacman -Ss"
Could you make the output of this command `pacman -Ss` in Ubuntu/Debian looks like the output of the same command in Arch ?

[2015-07-05 15:31] NgoHuy commented on #53
It denpends on apt-cache's format, we should keep this.

[2015-07-06 02:22] icy commented on #53
@baronleonardo Do you have any special reason for that? That would be possible with help of an output parser, but we need strong reason to move on.

[2015-07-06 02:31] icy commented on #53
@baronleonardo You can simply do this

[code]

This doesn't include status of a package (installed or not) though. On ArchLinux, a search command (-sS) will let you know whether a package is installed.

[2015-07-06 03:38] baronleonardo commented on #53
I find it more useful to preview it as Arch
package + current version + small description + installed or not
it is very useful actually

@icy Thanks for your help.
I appreciate that.
But I was looking for something like what I have said above.

[2015-07-06 03:53] icy commented on #53
@baronleonardo I agree. I will take a look if there is a way to support this kind of output filter.

[2015-07-18 15:28] cuonglm opened #54 "Must we create an enforcement for quoting variable?"
As previous describing in [this issue](https://github.com/icy/pacapt/issues/40), forgetting to quote variables in shell script leading to many security implications.

Example in `compile.sh` line `95` -> `99`:

[code]

this can be easily fooled by creating a file `* *.sh` in `./lib`, causing the content of all lib files printed twice. It's just a simple case, there can be many hidden weird behavio

[2015-07-20 04:39] icy commented on #54
Hi @Gnouc ,

I'm sorry for my belated reponse.

Thank you for the great catch. I don't know there is any automatic tool to enforce this. In the mean time, it would be part of the coding style (I will emphasize in https://github.com/icy/bash-coding-style).

The `compile.sh` is used once by our developer. I will review all changes if there is any similar issue at run-time.

Thanks again.

[2015-07-20 04:48] cuonglm commented on #54
@icy: We can use [shellcheck](http://www.shellcheck.net/) to make a checking before pull request, every pull without passing shellcheck will be denied.

About my example. It's more about internal usage by our developer. In the real world, everyone on system which hold `pacapt` source code and have the write access to the `pacapt` source directory can be do that trick.

I shown the example only for

[2015-07-20 06:26] icy commented on #54
Excellent. Thanks for sharing. I will take a look whether we can use `shellcheck` .

[2015-07-22 09:59] NgoHuy commented on #54
simply, I define an array `LIST=(dpkg yum ....)` and check in this, does it avoid problem ?

[2015-07-22 10:56] cuonglm commented on #54
@NgoHuy: It's only a workaround, and require you to change your code structure.

Generally, if you don't want to use `shellcheck`, or you have trouble with typing many double quotes, you have to:
- Setting `IFS` to consistent value
- Using `set -f` to disable globbing and `set +f` to enable when you need it

But I think it will lead to more works than simply always double quotes variables.

[2015-07-22 14:01] NgoHuy commented on #54
in this scripts, "$_TOPT" will make it fail if value includes space, etc... bash's easy to use but more risk haha

[2015-07-22 18:13] xiongchiamiov commented on #54
http://mywiki.wooledge.org/Quotes is an excellent document detailing best practices for quoting (see also [the Bash Pitfalls page](http://mywiki.wooledge.org/BashPitfalls), where many issues are related to quoting).

[2015-08-05 09:11] bhagyas opened #58 "Add better command documentation on README.md"
A guide on what each short command performs would help a lot of users.

[2015-08-05 10:05] icy commented on #58
+1

Do you think this is enough https://github.com/icy/pacapt/blob/ng/lib/help.txt ? Maybe a link to this file on README.md is good?

[2015-08-05 10:49] bhagyas commented on #58
Yes, I think that looks pretty good to be added as a link.

[2015-08-06 05:55] #58 closed, assigned to nobody

[2015-08-06 06:21] icy commented on #54
@xiongchiamiov Thanks for the link. It's always fun to run `Wooledge`. I often read from http://wiki.bash-hackers.org/, and most of the time I try to look up something releated to shell expansions ;)

@Gnouc I have some time to try `shellcheck`. I use the online version of the tool to check against the latest stable version (v2.1.6). The most useful suggestion is to exit after a `cd` command in `h

[2015-08-06 10:39] cuonglm commented on #54
@icy Yep, you can't do globbing inside double quotes.

`for L in ./lib/*.sh` is fine, just using `$L` with double quotes.

[2015-08-06 10:55] icy commented on #54
Ah, my bad. Would fix that very soon. Thanks again.

[2015-08-06 12:09] icy commented on #54
Please see the `make shellcheck` and the latest script `bin/check.sh`. The script will send request to http://www.shellcheck.net/ to check all scripts.

Not sure this is against any terms of use of the site. ping @koalaman (https://github.com/koalaman)

[2015-08-06 12:11] icy commented on #54
Output excerpt

[code]

[2015-08-06 12:12] icy commented on #54
(See `col 0` as there is a problem with the script, has been fixed in the latest commit.)

[2015-08-06 13:06] icy commented on #54
And with colorful output http://www.enlightenment.org/ss/e-55c35bc43d6938.66018597.jpg

[2015-08-06 16:43] koalaman commented on #54
@icy I certainly don't mind, I'm glad you find it useful! There are no specific terms, but also no guarantees :P

PS: if you want to enable offline checking, `shellcheck -f json filename` is a drop-in replacement for the web service

[2015-08-06 16:57] icy commented on #54
Thanks a lot :) Your tool is very beautiful !

I have sent a pull request (https://github.com/koalaman/shellcheck/pull/426) that explains why I like the web service ;)

[2015-08-06 23:49] icy commented on #54
I close this ticket because we have a tool to check our scripts now :)

[2015-08-06 23:49] #54 closed, assigned to icy

[2015-08-26 17:50] rndmh3ro commented on #43
In PR #49 @NgoHuy added some commits to make "noconfirm" happen. Were you able to merge these commits, @icy?

[2015-08-27 04:25] icy commented on #43
Hi @rndmh3ro. I will take a look when I'm back from holiday. Possibly next week. Thanks a lot.

[2015-09-01 02:24] icy commented on #43
@NgoHuy Please check the latest commit (https://github.com/icy/pacapt/commit/8654c26d0cf90fa9894bb2c2905e3567be3d3771).

All you need is to support more translations to the `_translate_noconfirm` method (See https://github.com/icy/pacapt/blob/ng/lib/00_core.sh#L152) .

Thanks

[2015-09-01 06:41] icy commented on #43
Now supported in `Debian`, CentOS/Fedora, Zypper and FreeBSD

[2015-09-01 16:28] rndmh3ro commented on #43
Thank you!

[2015-09-01 16:28] #43 closed, assigned to nobody

[2015-09-01 16:48] NgoHuy commented on #43
I see, thank you

[2015-11-15 19:45] urandom2 opened #62 "opkg support"
It would be awesome if you could add support for [opkg](https://en.wikipedia.org/wiki/Opkg).

[2015-11-16 00:09] icy commented on #62
Hi @arnottcr,

I will take a look .

[2015-12-02 00:48] icy commented on #62
Porting `pacapt` to support `opkg` is a real challenge. In  `OpenWRT` embeded environment, `(d)ash` is used instead of `bash`; and other standard tools are implemented in a different fashion (Not related, but it's true that `wget` in `OpenWRT` doesn't support `https`.)

CC: @cmpitg and @Gnouc if you have any brilliant ideas.

[2015-12-02 01:47] urandom2 commented on #62
While I agree it would add complexity, you could have a vanilla POSIX header that determines the shell and then code paths for each major subgroup. I would imagine that this within the realm of what I am capable of, so if I get time I may submit a pull request, or be back with comments/questions.

Also, from what I have seen bash is great for interactivity, but not the fastest at executing POSIX s

[2015-12-02 02:32] cuonglm commented on #62
@arnottcr pacapt code base relied heavily on non-POSIX shell features, example process substitution, `local` variable, `globstar`. Not all of them can be made to work in POSIX shell.

It need a big effort to porting it to a POSIX implementation.

[2015-12-02 02:54] urandom2 commented on #62
@Gnouc, thanks; I have not looked in depth at the pacapt codebase, but that seems quite reasonable. [sarcasm] I will submit a pull request when I have all the porting done. [/sarcasm]

[2015-12-02 05:06] icy commented on #62
I think it's good to start new branch, e.g, `paccapt_posix`. I also need some testing support. (For now, all tests are done manually.) There are many things to do now :D

[2015-12-02 05:07] icy commented on #27
Reopen, as mentioned in #62.

[2016-01-15 04:46] NgoHuy commented on #53
You can patch my script as below, only installed packages will have version :)

[code]

[2016-03-11 16:46] icy opened #65 "Alpine support"
http://wiki.alpinelinux.org/wiki/Alpine_Linux_package_management

[2016-03-13 22:38] #65 closed, assigned to nobody

[2016-03-16 23:21] icy commented on #48
Closed on #63

[2016-03-16 23:21] #48 closed, assigned to nobody

[2016-03-17 03:17] icy commented on #27
WIP ; prepare for new release `2.3.8`

[2016-04-08 17:53] darnir commented on #44
Any updates on this? I would like to try and help if possible. This feature would be very useful in my usecase for pacapt

[2016-04-09 02:47] NgoHuy commented on #44
we have a big table to map these packages, you have any idea to query it fast and correctly ? :)

[2016-04-09 07:21] icy commented on #44
@darnir Sorry for any inconvenience. I know it's very useful (also for my daily boring jobs) but the only idea I have is to create a big table of all packages, e.g,

[code]

and then `pacapt` script will look up in this table for every run. I don't think this is good way, as it will slows down the script when the table is big. Another problem is that we need a simple way to manipulate the table of

[2016-04-10 06:56] dlintw opened #70 "Support -Qe for listing required packages"
I would like to keep the top level package name.
If this script support -Qe will be better.

[2016-04-11 01:39] ThePreviousOne opened #71 "Support pacman -Rsc"
I don't know how common this is but I use it alot (I ran Antergos for A short while(lots of garbage from install)) and I could make great use of _Remove- package, dependacies, and dependants_ after new debian of Ubuntu installs

[2016-04-11 06:55] icy commented on #70
@NgoHuy Can you please take a look? I haven't found any `-Qe` support on https://wiki.archlinux.org/index.php/Pacman/Rosetta , but we may write some adhoc scripts to support them.

[2016-04-11 07:00] icy commented on #71
@NgoHuy Please take a look. Thanks

[2016-04-13 01:50] NgoHuy commented on #70
I found some way to support this behaviour, only for `apt` and `yum`. I'm still testing for other.

[2016-04-13 01:54] NgoHuy commented on #71
Because `-c` option is dangerous

[code]

I'm checking some safe way to remove `dependants` without breaking system as this behaviour

[2016-04-16 15:42] NgoHuy commented on #71
In the scenario, A depends on B, we remove B, A will be removed, C depends on A, but C is explicit packages installed before... How do we handle this case ?
I don't support this case now :)

[2016-04-19 15:07] evenreven commented on #71
This sounds dangerous to me too, but I'm no pacman expert. What's the benefit of using `-c` over `pacman -Rns $(pacman -Qtdq)`? That's my autoremove alias (which I stole [from the Arch Wiki](https://wiki.archlinux.org/index.php/Pacman/Tips_and_tricks#Removing_unused_packages_.28orphans.29)).

[2016-04-20 04:37] NgoHuy commented on #71
@evenreven it's good, it removes all packages which are not required by any packages ( orphan packages), but the mean is not same as `-c` and we will implement `-Qtd` too :dancer:

[2016-04-21 07:16] evenreven commented on #71
Cool. Yeah, thanks, I see the difference now.

[2016-04-22 05:17] icy commented on #71
@NgoHuy Can you please have some demo , e.g., the output of these commands? Thanks

[2016-04-22 06:44] NgoHuy commented on #71
@icy see below
first:

[code]

second:

[code]

The second will remove archlinux-keyring too

[2016-04-22 06:46] icy commented on #71
Perfect @NgoHuy  . A picture always makes a thousand words ;)

[2016-04-22 06:47] icy commented on #71
But, how about `acman -Rns $(pacman -Qtdq)`? That's too magic to me =))

[2016-04-22 06:58] NgoHuy commented on #71
you can see `pacman -Qi somepackage` :
Install Reason field  : `Installed as a dependency for another package` but `required by is none.`

`pacman -R somepakage_same_above && pacman -S sompackage_same_above`
Install Reseason field: `Explicitly installed`

[2016-04-22 06:59] NgoHuy commented on #71
`-Qdt` show only dependecies are not required by any package :)

[2016-04-22 07:00] icy commented on #71
Thanks again, @NgoHuy . I just want to make sure future reader (of this topic) can fully understand you hehe

[2016-04-22 07:03] NgoHuy commented on #71
you're welcome :)

[2016-04-22 07:23] ThePreviousOne commented on #71
So that's a no to -c then?

[2016-06-09 08:29] Pival81 opened #75 "Fedora 22/23 uses dnf"
on fedora 23, when i enter `sudo pacapt -S texlive-bohr` it gives me this:
`Yum command has been deprecated, redirecting to '/usr/bin/dnf install texlive-bohr'.
See 'man dnf' and 'man yum2dnf' for more information.
To transfer transaction metadata from yum to DNF, run:
'dnf install python-dnf-plugins-extras-migrate && dnf-2 migrate'`

it still installs, but its a bit annoying.

[2016-06-09 08:35] Pival81 opened #76 "To install packages i have to use sudo."
When I try to install packages, at least on Fedora 23, it says that i have to be root to install them.
So i use sudo, but it gives me this error:
`sudo: pacapt: command not found`
To solve this i linked `/usr/local/bin/pacapt` to `/bin/pacapt`, but it would be better if this was written in the install instructions.

[2016-06-09 08:36] icy commented on #75
Thannks @Pival81 for your report.

@NgoHuy Can you please make `dnf` default on Fedora system?

[2016-06-09 08:39] icy commented on #76
@Pival81 I will add notes to install instructions. Thank you very much!

[2016-06-09 08:48] Pival81 commented on #76
Also, i made an rpm package for pacapt, will upload it on the open build system.
I can also make a deb package.
If you're interested i can give you the link.

[2016-06-09 09:04] Pival81 opened #77 "Yaourt search packages"
I remember when i used arch, that if i wanted to search and install a package, i typed `yaourt <package>`, and it listed all the packages with a number, and it asked me the number of the package(s) i wanted to   install.
It would be awesome to have this in pacapt.

[2016-06-09 16:17] NgoHuy commented on #75
@icy : you did not update `pacapt` scripts in ng branch.
@Pival81 you should run `make pacapt.dev` and try again. I'm looking `pacapt` scripts has no detection for dnf now.

[2016-06-09 22:12] icy commented on #75
Ah ok. The feature is on the latest development script but it's not in the latest stable script. I will update it today. Thanks.

[2016-06-10 05:00] #75 closed, assigned to nobody

[2016-07-06 10:46] pabru commented on #44
@icy Just a couple of things I was thinking of:
1. What if on some distros httpd is equivalent to more than one package? There would need to be a way to specify multiple packages per mapping in this case.
2. What about the distros which split off -dev, -doc and so on, like Debian and Ubuntu? Since Arch includes everything and the kitchen sink in its packages by default (which I personally don't mi

[2016-07-07 11:02] pabru opened #79 "Is shell completion supported?"
Hi @icy,

Do you know if shell completion is implemented in pacapt? If not, (and if it's doable for me) I could start working on it as I really like being able to do this with native apt and pacman binaries.

What do you think?

[2016-07-07 11:51] icy commented on #79
Oh I haven't thought of that (I personally doesn't use any kind of completions except the default `<tab>`). It's really great if you could start autocompletion support. Thanks a ton!

[2016-07-07 12:01] icy commented on #76
hi @Pival81,

I focused on merging, and I forgot your last comment. I didn't intend to ignore your comment definitely!

Would you mind uploading the intructions to build packages (.rpm, .deb) in the `/contrib/` sub directory? I think it's useful for distribution maintainer. For the links to packages, I will provide them in the README file in case someone needs them.

I'm so sorry for my mistake an

[2016-07-07 12:20] icy commented on #44
@pabru It's kind of fuzzy searching which is not very useful as far as I see in my daily life; what I really want is exact match. For example, when I write some `Dockerfile` for multiple distributions, I only need to write `pacapt -S apache`, and that's all: correct package will be installed.

(2) I think we need to respect distribution's behavior insead of creating similar behavior between distri

[2016-07-07 12:31] Pival81 commented on #76
@icy hi, actually there is no need to give build instructions, as the precompiled rpms  and debs  are available here: http://software.opensuse.org/download.html?project=home:Pival81&package=pacapt
But anyway, how should i upload the instructions? i don't see a contrib directory in the code.

[2016-07-07 15:26] cuonglm commented on #79
@pabru Why don't use bash completion for `pacman`?

You can do the same as bash does for `pacman` in `/usr/share/bash-completion/completions/pacman` for `pacapt`

[2016-07-07 20:15] icy commented on #76
Thanks a lot, @Pival81 . Please create the first files for that directory :)

[2016-07-07 22:37] pabru commented on #79
Hi @Gnouc. I was thinking about things like package name completion (i.e. something like `pacman -S openssh-ser<TAB>` gets autocompleted to `pacman -S openssh-server`) as that saves some typing. I was also initially thinking of Bash support only as I don't have experience with the other shells.

I think I could base my bash autocomplete on the existing `apt-get` etc. completions, with a few modifi

[2016-07-08 07:54] icy commented on #76
See also #80.

[2016-07-08 07:54] #76 closed, assigned to nobody

[2016-07-11 14:31] Pival81 opened #82 "Open a Gitter room."
It would be easier for the contributors to say something without having to create new issues for simple stupid things.
For example, you forgot to create a new release for 2.3.11, so the spec file in `contrib` won't work anymore, as it downloads from the releases.
EDIT: oh, ok, you created it. still we need gitter.

[2016-07-11 15:06] icy commented on #82
Hi @Pival81,

I haven't used Gitter because I'm on Telegram/IRC most of the time. Let me give it a try:)

[2016-07-13 11:06] icy commented on #82
Thanks @Pival81  again. I have created new room here https://gitter.im/icy/pacapt.

[2016-07-13 11:06] #82 closed, assigned to nobody

[2016-07-17 01:54] ceribik opened #84 "Installed packages are incorrect (Debian)"
As per title. I'm running Debian Jessie.

[2016-07-17 03:45] NgoHuy commented on #84
Hi Ceribik,
It's normal in debian as https://packages.debian.org/jessie/mysql-server

Vào Chủ Nhật, ngày 17 tháng 7 năm 2016, ceribik notifications@github.com
đã viết:

##

Be different and always different

[2016-07-17 03:53] icy commented on #84
Hi @ceribik,

Thanks for your report. `-Qs` should

[2016-07-17 03:54] icy commented on #84
hi @ceribik ,

I have attempted to fix in the latest commit, however the behavior is a bit different between Arch and Debian (See also in the commit comments)

Please let me know if that's expected / acceptable.

Thanks a lot.

[2016-07-17 03:58] icy commented on #84
btw, the latest commit is on the development branch, and it's required you to compile the script manually (`make pacapt.dev`). So I add here some screenshots

[code]

[2016-07-17 04:23] ceribik commented on #84
@NgoHuy In Arch, pacman -Qs always searches for locally installed packages and nothing else, and so I just assumed that pacapt would too. If i wanted to search for remote packages, I would use -Ss ala pacman.

@icy I tried your patch and that seemed to fix the issue, although as you noted, the search pattern now seems to be different from arch in that searching for "mysql" won't find "mysql-common

[2016-07-17 08:22] icy commented on #84
@ceribik It's because of the difference in regex syntax. I'm not sure if adding a star (`*`) would help. I will be back to this later. Thanks.

[2016-07-18 10:33] icy commented on #27
WIP; Tests for `dpkg` are available :)

[code]

[2016-07-19 05:30] icy commented on #84
Hi @ceribik,

I've fixed in the latest commit. The idea is to use `grep` to filter the output of `dpkg-query` command, and by this way we don't have to worry about distribution specification.

Thanks,

[2016-07-19 08:10] icy commented on #27
See also https://github.com/icy/pacapt/blob/ng/CONTRIBUTING.md#writting-test-cases

[2016-07-19 11:26] ceribik commented on #84
Looks good, thanks @icy

[2016-07-19 11:26] #84 closed, assigned to nobody

[2016-07-19 11:50] icy commented on #84
You're welcome:)

[2016-07-19 11:50] icy commented on #84
And thank you very much for your bug reporting :)

[2016-07-21 07:43] icy commented on #27
Documentation moved to https://github.com/icy/pacapt/blob/ng/tests/README.md

[2016-07-21 12:38] icy opened #86 "Travis-CI (free) integration"

[2016-07-21 13:23] #86 closed, assigned to icy

[2016-07-21 13:46] icy commented on #27
See also #86. A successful test with `shellcheck` and `tests` combined: https://travis-ci.org/icy/pacapt/builds/146381472

[2016-07-27 03:23] icy opened #87 "Support Slackware Linux"

[2016-12-13 06:29] icy opened #88 "Problem with ~"
[code]

[2016-12-13 06:29] icy commented on #88
This is actually a problem with `dpkg`

[code]

[2016-12-13 06:32] NgoHuy commented on #88
it's dpkg's problem -_-

[2016-12-13 06:43] #88 closed, assigned to icy

[2016-12-18 17:49] Grenadingue opened #89 "Around pacapt"
Hi guys,

I wanted to tell you that I like what you did with `pacapt` ! I often use it on non-Arch distributions, for my personal usage.

I found `pacapt` so useful that I decided to use it, as a part of a school projet, a quite big projet. It's named [`SAM-Solution`](https://github.com/EIP-SAM), it intends to be a system administrator solution for managing a Linux/Windows computers park. You can

[2016-12-19 16:09] icy commented on #89
Hello, @Grenadingue,

I'm happy that the script is useful in your project.  And thank you for your works they're very interesting.

Give me some days I will take a look at them and see whether I can help a/o we can work together.

Cheers,

[2017-04-28 22:41] TomaszGasior commented on #77
In my opinion it's not good idea. Pacapt is only wrapper for package managers such as dpkg. It should not contain other features.

[2017-05-03 11:35] p1839251 opened #91 "No Confirm"
Alright, this is a feature request. <If I had known how to add labels to this, I would've done that.>

I personally often times install programs or update my system with the flag --noconfirm.
I know it's not really recommended, however, if I want to install a specific application, I will do it any way.
It's kind of time saving. After running pacapt -Syu or just pacapt -S 'anything', it loads for a

[2017-05-04 02:47] NgoHuy commented on #91
Hi,
We have implemented this feature
`pacapt -Syu --noconfirm` or `pacapt -S --noconfirm fish` this feature only supports as below
![090405170946](https://cloud.githubusercontent.com/assets/1238112/25689073/ac3abf0a-30ae-11e7-8465-c02703f01146.jpg)

[2017-05-04 07:13] p1839251 commented on #91
Hello,
Thank you for your reply.
Yep I used to enter it the other way around. pacapt -S app --noconfirm.

So I wish to change this request into a bug report then.
As it seems --non-interactive wasn't a good hint.
![screen](https://cloud.githubusercontent.com/assets/27902026/25693387/4e3815c4-30a9-11e7-8fac-c2329564571a.png)

(pacman is pacapt, I just prefer to use it that way)

I tried using --noc

[2017-05-04 07:31] NgoHuy commented on #91
Thank @p1839251
I can reproduce your problem. I see this should be `zypper --non-interactive [options]` NOT `zypper [options] --non-interative`

[2017-05-04 08:06] NgoHuy commented on #91
I just made pull request https://github.com/icy/pacapt/pull/92. Can you check it ?

[2017-05-04 08:53] p1839251 commented on #91
Confirmed
With --no-confirm (instead of  --non-interactive), I am able to update the system, install or even remove applications.
Thank you for your contribution!

[2017-05-09 20:39] #91 closed, assigned to nobody

[2017-05-10 15:35] icy commented on #91
Thanks a lot for your reporting @p1839251 . I will prepare a new release soon.

[2017-05-13 05:42] icy opened #93 "zypper: Unknown option "--download-only""
See also https://travis-ci.org/icy/pacapt/builds/231799961

CC: @NgoHuy

[2017-05-13 05:46] icy commented on #93
[code]

[2017-05-14 03:38] NgoHuy commented on #93
It should be `pacman -Sw screen`

[2017-05-14 05:23] icy commented on #93
My bad =))

[2017-05-14 05:23] #93 closed, assigned to nobody

[2017-05-30 01:27] anna328p opened #94 "Support Clear Linux"
Clear Linux has swupd and bundles. Can support for this be added?

[2017-05-30 01:28] anna328p commented on #77
-1 Use `-Ss`. yaourt is bad.

[2017-05-30 04:49] NgoHuy commented on #94
You can create pull request :)

[2017-05-31 00:10] icy commented on #94
Of course, @dkudriavtsev . I have merged your PR https://github.com/icy/pacapt/pull/95 .

[2017-05-31 01:47] anna328p commented on #94
Thanks!

[2017-05-31 01:47] #94 closed, assigned to nobody

[2017-05-31 08:34] ghost opened #96 "Support -q flag for quiet"
Is this something that you're ever planning to do? Honestly, this would make this a lot more usable for me, because it'd let me do things like `pacapt -R $(pacapt -Qsq blahstuff)` which is a lot more intuitive than having to parse the output further. I know it'd require a bit of text manipulation, and that's not Bash's strong suite. (I'm honestly not sure why people write such large projects in Ba

[2017-05-31 12:20] icy commented on #96
Hi @avrildev,

Thanks for your feedback. There is `-q` option but it doesn't work consistently: `pacman -Qq` works, but `pacman -Qqs` doesn't. I will take a look.  I hadn't known there is `pacman -Qqs` operation until I read this post. My bad 🗡

What distro are you working on?

A lot of text processing can be done with `bash`, `awk`, `sed`, `grep`,... For complex things (as you see here https://gi

[2017-05-31 22:41] ghost commented on #96
Most of my machines run stock Arch currently, but I use Ubuntu 16.04 for business-grade systems, and my Raspberry Pis run Raspbian. (Although I think Arch ARM could be entertaining to try out!)

Last time I tested pacapt, I had a Linux Mint 18.1 Serena install, which is of course basically Ubuntu. If it's testing you want, I'd be very happy to install a Debian/Ubuntu chroot/VM for testing. Or Fedo

[2017-10-09 08:02] NgoHuy commented on #71
for confirmation, yes.

[2017-10-18 07:51] michael-dev2rights commented on #44
@icy @pabru
One suggestion which will allow packages to be referenced (from https://unix.stackexchange.com/questions/275212/package-name-translation-across-different-distros) is to allow packages to be referenced by what file they will install.  Another suggestion would be to allow them to be referenced by what commands they will add to the environment (which extra executable files appear in the $

[2017-10-22 04:14] icy commented on #89
Hi @GijsTimmers,

I have changed to work with some `nodejs` projects, that allows me to have a better chance to promote your project. I have added links also (https://github.com/icy/pacapt#related-projects).

Thanks again and i'm very sorry for the delay.

[2017-10-22 05:54] #50 closed, assigned to nobody

[2017-10-23 03:09] #89 closed, assigned to nobody

[2017-11-09 08:12] #71 closed, assigned to nobody

[2017-11-21 10:05] icy opened #103 "Support ibm aix"

[2018-03-27 20:02] anntzer opened #104 "document pacapt -U in help"
`pacapt --help` does not include an entry indicating that `pacapt -U` (e.g. `pacapt -U localpath`) is supported.

[2018-03-28 02:40] icy commented on #104
@anntzer Thanks for your reporting .

Would you mind sending a PR? The contents are here https://github.com/icy/pacapt/blob/ng/lib/help.txt.

[2018-03-28 02:44] anntzer commented on #104
Nah, you get to do it 😃 (feel free to close the issue if got don't plan to).

[2018-03-28 02:48] icy commented on #104
@anntzer The best way is to look at the table (https://github.com/icy/pacapt#implemented-operations), or to use `-P` to list all supported options on your distribution. I like to have a better `--help` page, but I haven't had any good idea.

[2018-03-28 04:28] anntzer opened #105 "pacapt --version"
Fairly trivial note: `pacapt` only supports `-V` for printing the version, whereas `pacman` supports both `-V` and `--version`.

[2018-05-24 02:58] icy commented on #105
Hi @anntzer , the `-V` option prints the `pacapt` version, and `-v` and `--version` have something to do with the system package manager. `pacapt` scripts use several uppercase options for its purpose, e.g.

* `-V`: print `pacapt` version
* `-P`: print a list of supported operations

Do you want to have something like `pacapt --Version`?

Btw, I have found that it's a little hard to pass the `-v`

[2018-05-24 03:07] #104 closed, assigned to nobody

[2018-05-24 03:44] anntzer commented on #105
Oh, I missed the fact that there's both the version of pacapt and the version of the wrappee.
I guess a possibility would be to have `--version`/`-V`/whatever flag you decide print e.g.
[code]
Anyways, not a big deal.

[2018-05-28 19:03] anntzer opened #106 "wrapper for tlmgr (texlive manager)?"
tlmgr (the TeXlive manager) is a bit a special case, as it is not a distro package manager; but it is still useful if one does not want to install the (usually huge, coarsely-grained) distro-provided packages.

Any chance in supporting it?  (Note that this would mean pacapt could be a frontend for multiple package managers on the same systems; a possibility would be e.g. to have `pacapt --backend=

[2018-05-29 00:13] icy commented on #106
That's an excellent idea :) Let's see if we can support them.

[2018-06-01 04:58] icy commented on #106
@anntzer Do you know how to install `tlmgr` on ArchLinux? I expect the binary file from `texlive-most` package unfortunately it's not true. Thx a lot.

[2018-06-01 05:21] anntzer commented on #106
I think it is intentionally not packaged, likely because installs from it would always create conflicts with management by pacman.  I personally always install it manually (i.e., following https://tug.org/texlive/doc/texlive-en/texlive-en.html#x1-140003) into /usr/local (which is explicitly recommended for stuff "not managed by pacman"), as I don't like the coarse packages provided by the distro.

[2018-07-24 12:46] anntzer commented on #106
Another non-distro package which would be nice to look at is conda (https://conda.io/docs/index.html).

I would be happy to help with the actual translation of commands for both tlmgr and conda, but will need help with setting up the machinery mentioned above (`--backend=...` or similar).

[2018-07-24 13:42] icy commented on #106
Thanks again @anntzer . You have great idea. I will work on some experimental code this week.

[2018-07-25 16:22] icy commented on #106
@anntzer There are at least two ways to support a `backend`:

* Using an option: `pacapt --backend=foo`
* Using special command name: `pacapt-foo`

What do you prefer?

[2018-07-25 17:27] anntzer commented on #106
I think(?) the first one is better? (and suggest to the user to define their own shell aliases)  If you go for pacapt-foo, how exactly do you plan to distribute that?  I'd be a bit annoyed if installing pacapt directly gave me pacapt-dnf, pacapt-yum, and a bunch of irrelevant pacapts on my system (i.e. for package managers that I don't use).  (Not great for tab completion, for example.)

[2018-07-26 00:26] icy commented on #106
The second way is easier for `pacapt`'s development work; it requires a few changes. This is because the major part of the script relies on `_PACMAN` variable as seen here https://github.com/icy/pacapt/blob/ng/lib/zz_main.sh#L32, and we can transform script name to a correct value for that variable. This can be done quickly.

Adding a new option requires me to rewrite the argument parser. It also

[2018-07-26 01:01] anntzer commented on #106
I don't think my arguments for (1) above were particularly strong (I was just trying to pick between the two options), (2) is fine too; I didn't look into which one would have been more practical for you :)

[2018-07-26 03:34] icy commented on #106
Ok let's talk about that in future, when we have better idea (E.g, when we rewrite the main/core part in go/d/python).

I've had a simple implementation of the feature. You can see a sample library for `conda` here https://github.com/icy/pacapt/blob/ng/lib/conda.sh .

You can start to add new `conda` support as below:

* Add new methods to `lib/conda.sh`
* Run `make pacapt.dev`
* Have a symbolic l

[2018-07-26 10:27] #106 closed, assigned to nobody

[2018-08-02 10:46] icy commented on #62
@arnottcr  @Gnouc

`pacapt` main part is now written in `Dlang`. WIP found from `nd` branch https://github.com/icy/pacapt/tree/nd.

I will take a look how the application can be built on ` OpenWRT`. After that we can start new support for `opkg`.

[2018-08-02 11:16] icy commented on #105
In new implementation of `pacapt` in `Dlang` (https://github.com/icy/pacapt/tree/nd), we have `pass through` mode which can help to detect the version of the back-ends. For examples,

[code]

[2018-08-02 11:16] #105 closed, assigned to nobody

[2018-11-09 21:05] BurhanDanger opened #116 "Support Void Linux"

[2018-12-10 21:05] #77 closed, assigned to nobody

[2019-01-08 07:00] ryepesg opened #117 "Homebrew cask support"
A lot of useful packages come from [Cask](https://github.com/Homebrew/homebrew-cask), which is now included as part of Homebrew itself.

To use them from Homebrew, you are supposed to use `brew cask` instead of just `brew`. For example, the correct command to install gimp would be: `brew cask install gimp`

Here is an example of pacapt failing to install gimp:

`$ pacapt -S gimp`
[code]

[2019-01-15 21:16] icy commented on #117
@ryepesg Does this only affect the installation option? Does `brew` return any specific error when it suggests to use `brew cask`? Can you please have the output of the following attempt:

[code]

A fallback mechanism can be added to https://github.com/icy/pacapt/blob/ng/lib/homebrew.sh#L138 . I have no Mac to test:(

[2019-01-16 09:56] ryepesg commented on #117
@icy Yes, my use case is only for (un)install, other operations like search already work fine. Here are the outputs for the commands you mentioned:

% pacapt -S gimp; echo $?
[code]
% brew tap homebrew/cask; echo $?
```0```

Here are some other commands just in case. Happy to continue doing some testing on Mac.

% pacapt -R gimp
Error: No such keg: /usr/local/Cellar/gimp
1

% brew uninstall gimp
E

[2019-01-16 19:53] icy commented on #117
This is tricky. I expect `brew` (without `cast`) returns something more interesting . Parsing `brew` output message may not be a good idea, but let me give a try.

[2019-01-16 20:35] icy commented on #117
@ryepesg Please check out the new script https://raw.githubusercontent.com/icy/pacapt/fix_117/pacapt if that helps. I don't have a Mac/homebrew to test (well, my Mac installation was replaced by Arch stuff.) If you get the idea of my fix you may try to get around in case of problem. I will also ask some friends for tests.

Thanks a lot.

[2019-01-16 20:36] icy commented on #117
note, this work is on a new branch `fix_117`. If everything goes fine I will cherry-pick the results on the `ng` branch.

[2019-01-19 03:36] ryepesg commented on #117
Hi @icy, I just tested but it didn't work. Here is how I tested:

/tmp/pacapt (git)-[ng] % git checkout -b fix_117
Switched to a new branch 'fix_117'
/tmp/pacapt (git)-[fix_117] % git merge origin/fix_117
Updating b0c374a..be3e7e9
Fast-forward
 lib/homebrew.sh | 54 ++++++++++++++++++++++++++++++++++++++++++++++++++++--
 pacapt          | 67 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++

[2019-01-19 10:39] icy commented on #117
@ryepesg Thanks a lot for your feedback. I will have a look.

[2019-01-25 22:13] penrods opened #120 "Typo in README"
The second line of the [README.md](https://github.com/icy/pacapt/blob/ng/README.md) has the line:
   ```Simply install package with pacpat -S htop or...```

I believe that is supposed to be pac**ap**t not pac**pa**t.

[2019-01-26 09:10] #120 closed, assigned to nobody

[2019-01-26 09:10] icy commented on #120
Thanks a lot @penrods :)

[2019-02-02 23:18] sevu commented on #79
It would be great to have

[2019-02-03 10:40] sevu opened #121 "better -Qs with rpm (dnf/yum)"
On Arch, -Qs with multiple arguments gives results which contain both = it's an _intersection_
E.g. pacman `-Qs maria java` would match a package which has the words maria and java in any order in the pkgname or description.

 rpm searches for each argument on it's own, but filters duplicates = it's an _union_
 (it searches only package names, but let's be happy with that)

-Qs is for yum and dnf

[2019-02-04 19:14] icy commented on #121
@sevu Thanks a lot for your input. I didn't notice there are some differences between `pacman` and `yum/dnf`. Supporting `arch`-liked feature sounds great however that requires a lot of effort in `Bash`: For the purpose I am not sure if `Bash` can help. Even if we implement the feature in any higher language, there is still some challenge: We implement the back-end feature (rpm/dnf) which is suppo

[2019-02-07 15:28] woky opened #122 "[RFC] Support repository sources"
This is probably out of scope as it has too many variables, but for me, pacapt could completely abstract distro-specific package managers if it would also support adding additional repositories.

For instance, sometimes I need to install Docker CE on Debian as described in https://docs.docker.com/install/linux/docker-ce/debian/. The steps are roughly equivalent to:

[code]

[2019-02-20 01:54] Mnkai opened #123 "-Rs support on homebrew"
To the developers of pacapt:

Hello,

First, thank you for making such a nice wrapper, it made my migration from the Arch Linux system to the MacOS system whole lot easier.

While I was tidying my system, I found out `-Rs` option is not supported, despite documentation says it is supported.

<img width="762" alt="image" src="https://user-images.githubusercontent.com/10909652/53060126-aec41600-34fc

[2019-02-20 01:57] Mnkai commented on #123
*P.S. Version of installed pacapt is 2.4.0, precompiled from homebrew.

<img width="762" alt="image" src="https://user-images.githubusercontent.com/10909652/53060526-32323700-34fe-11e9-9d02-a6d47d177af1.png">

[2019-02-20 18:44] icy commented on #123
Thanks for your report @Mnkai . I don't have Mac to test and I would need some helps from other developers.

@xiongchiamiov  Do you have any ideas?

[2019-02-23 03:31] Mnkai commented on #123
I made a pull request #124 which solves this problem.

[2019-02-24 08:56] Mnkai commented on #123
Since PR #124 is merged, I will now close this issue.

[2019-02-24 08:56] #123 closed, assigned to nobody

[2019-02-25 18:32] icy commented on #123
Sorry for this belated feedback. I'd like to thank you a lot for your report and your contributing @Mnkai .

[2019-10-01 07:49] icy commented on #117
I have a Mac OS now, I will have some tests and fixes this week.

[2020-02-15 02:38] rami3l commented on #117
Any updates on this issue?  :)

[2020-02-15 12:31] icy opened #126 "rewrite in golang lolz =)"

[2020-02-15 12:38] icy commented on #117
@rami3l sorry... I'm gonna fix that today. I didn't know how to use my Mac lolz

[2020-02-15 18:11] icy commented on #117
Should be fixed in the latest release v2.4.3 (pr: #127 )

[2020-02-16 05:35] rami3l commented on #117
I don't know much about bash scripting, but if I am not mistaken, only the -S behavior is updated this time.
I believe the use of `brew cask` should also be implemented for a few commands more (-R, -Su and -Syu) in a similar way, maybe as once done [here](https://github.com/icy/pacapt/pull/125).
But anyway, thanks a lot for the fix!  :)

[2020-02-16 06:33] icy commented on #117
Oh you're right, @rami3l . I was too fast. Hold my beer I will fix it again :)

[2020-02-16 12:36] t2bhuyen commented on #117
It's not so easy as I expected :) Look at the WIP: https://github.com/icy/pacapt/pull/128/files

I'm not staying frequently with my Mac -- my main workstation is on Linux. This work would take more time and effort, hopefully I can fix it soon: At least, I can have home/brew here :)

[2020-02-20 06:07] rami3l commented on #126
I personally agree that rewriting the project sounds interesting. Just being curious, what's the potential benefit of using golang?

[2020-02-20 11:29] icy commented on #126
@rami3l I don't really know. Maybe it helps to attract some developers. Now looking at Bash code: it's pretty hard to maintain and I don't think there are too many people who're using .bash. I think bash/shell scripting is the best tool for this kind of job anyway. The original idea is to support limited environment where .bash is not available generally.

I tried to rewrite the tool in `dlang` (i

[2020-02-20 11:29] icy commented on #117
Will continue this weekend . Thx

[2020-02-21 02:39] rami3l commented on #126
@icy If I were you, maybe I'll go for Python because:

1. Python is a popular (and quick-to-learn) scripting environment, and it's not very demanding as for different targets.
2. A scripting language suffices anyway for this kind of task, here we don't need to care much about speed.
3. `subprocess` (for running shell commands) and `argparse` (for argument parsing) are in **the Python Standard Libr

[2020-02-21 03:28] rami3l commented on #126
@icy A simple proof of concept has been made public [here](https://github.com/rami3l/pacapt-py).
Is this the correct behavior that you want (for example, `python3 main.py -Syu` just acts in almost the same way as the original wrapper)?

PS: I wrote the `dispatch` module exclusively for `brew` commands, but I think it's also possible to add support for other package managers if you just change that

[2020-02-25 06:06] icy commented on #126
@rami3l Thanks a lot for your contribution and your time. I really appreciate that.

I think Python or any higher level language can help a lot. However, we need to consider one of the main advantages of the current `pacapt`: It can run almost everywhere (yes, even on very old ubuntu and/or redhat and/or on some amazon AMI-packed machine).

I did try the Dlang-version, one of the reasons was it's

[2020-02-25 08:35] rami3l commented on #126
@icy I also have doubts concerning those aspects...

### Testing

I'm not quite sure what tests should be integrated a wrapper like this (due to my lack of similar experience), but I'm sure that any "modern" language (which meets with your 1st point) has a proper way of doing tests far better than what we have now...

And we will do those tests on which platforms? If this project needs to be cross

[2020-02-26 10:12] icy commented on #126
@rami3l Thanks for your input. That's great to discuss these things

## Testing

We have unit tests that can help to modify code easily. Writing some tests in bash is not very comfortable.

We also need integration / smoke tests because we need to make sure the behavior of the tool is correct on the target machines. For this part the current way can be used (e.g, https://github.com/icy/pacapt/blob

[2020-02-26 12:09] rami3l commented on #126
@icy Maybe we can start trying to refactor this project using Golang, and I think `import "os/exec"` might be useful. For not being shell-dependent, the full implementation must be done in Golang, just like what I tried to do in that Python repository.
I'll try to see what I can do, but still, I'm relatively new to Golang, not knowing much about the toolchain stuff, and I believe I still have got

[2020-03-07 02:33] rami3l commented on #126
@icy I have trouble translating my Python script in Golang in the `parser` part. I think it should be better to import a parser library, but I also noticed that the famous [yay] did that by hand... What do you think we should choose, with consideration of binary size, expandability, etc?

PS: [Here] I choose to import a library.

[yay]: https://github.com/Jguer/yay/blob/51766a15671cc2bd46c3d56b72f

[2020-03-07 08:48] icy commented on #126
@rami3l Thanks a lot for your initial work. Let me write down some important aspects of pacman..., which I tend to forget now. As far as I remember, if the parser can support multiple counting (number of appearances of any option).

I have a lot of time now, to spend a bit on pacman. Give me a little time to sell out my guitar :D

PS: TLDR;

In my dlang code, it's very easy to do that (https://git

[2020-03-07 12:02] rami3l commented on #126
@icy Yep! Flag problems seem to have been solved, including flag counters.

As for language use, I still think a modern language will help, though it's important to help a bash-based project have a smooth transition. I wrote that "all should be written in `golang` in order to be **shell-independent**", but that isn't always important every single time (eg. for those systems that come with bash), e

[2020-03-11 09:39] rami3l commented on #126
@icy By the way, do you think that we can utilize GitHub Actions to simplify the testing?

[2020-03-12 08:43] icy commented on #126
@rami3l Github Action is also fine, though it's a bit scary to use some 3rd party actions. For small projects, I don't think there is any huge difference between GithubActions and Travis/CircleCi. You may go with any tool you feel comfortable then ;)

[2020-03-14 03:50] rami3l commented on #126
@icy I also referenced your Dlang version, I personally know nothing about Dlang, yet it seems like a transcription with the same global variable logic as the `ng` version, which is a little bit difficult for me to understand (my apologies  @_@).
Could you somehow guide me through the original project? In the `lib` directory (tree/ng/lib) I can see all the scripts targeting different package manag

[2020-03-16 07:27] icy commented on #126
Hi @rami3l , sorry again with my belated response. And thank you a lot for spending your time on the project. I really appreciate that.

The dlang version was simply a direct port of the bash scripts, with some minor features. Let me write down some important things of the orginal `pacapt` script instead.  There are a few important parts:

### (1) understand user input

Scripts:
1. https://github.

[2020-03-16 12:02] rami3l commented on #126
@icy Thanks a lot for your reply! It turns out that even though I don't know much about the original project structure, I still broke my task into exactly these different pieces. So, I'd also like to share with you some details of my current work, so that we might come up with better ways to solve problems that might emerge...

### 1) Argument Parsing

This is not the difficult part for me. The ar

[2020-03-18 17:24] icy commented on #126
hi @rami3l , there are a lot of details. I will need to read that again. I will now have some quick feedback hoping that helps:

## 5) Homebrew

It's great if we can support them partially without other dependency. But if the subcommand provides safety and exactness we can just ask the user to install them.

## 4) Testing

We would go with some smoke tests. As I know, Travis has some macos support

[2020-03-22 03:43] rami3l commented on #126
@icy It's nice to see your reply! It's the weekend again so I can continue working on this project.

The current structure of my project has made it rather easy to add basic support (i.e. the one-liner part) for a new package manager with some copy-paste work. However, as for the non-one-liner functions, I realized that my lack of knowledge about bash scripting has become a problem for me when it

[2020-03-23 09:26] icy commented on #126
@rami3l I think you have a good framework to start now. You may want to have some tests, and start porting the bash things. That's quite a lot of work :100:

[2020-04-06 15:18] Mithrandir2k18 opened #129 "Feature request: pacman --needed"
Hi,

I am using pacapt to be able to have identical dependency install scripts across multiple linux distros. I also use arch, so I installed pacapt as pacman on other distros. Ideally I'd like to do something like this:

[code]

To work with pacapt as well, so I can have concise code that installs dependencies only when necessary. Also an option like `--yes` would be nice, so that installs don't

[2020-04-10 05:36] icy commented on #129
hi @Mithrandir2k18 , I have used that option. If it's supported on different platform it's easy to have the patch.

Is the option `--yes` optionally required by `--needed`?

Thanks

[2020-04-10 07:34] Mithrandir2k18 commented on #129
@icy Sorry I should have titled the feature request differently. The common idea is to have a smart "omniplattform dependency install script" that won't ask for confirmation.

Now arch's pacman has a `--needed` flag, it will automatically ignore any packages that are satisfied. Otherwise it will reinstall a package installed with `-S` that is already present.  That feature would be nice to have in

[2020-04-10 14:12] jody-frankowski opened #130 "Add support for `pacman -F`/`pkgfile`"
A nice feature that's missing is the support for `pacman -F`/`pkgfile` https://wiki.archlinux.org/index.php/Pacman#Search_for_a_package_that_contains_a_specific_file https://wiki.archlinux.org/index.php/Pkgfile.

This kind of feature can be used to suggest package installation when executing a missing binary, like so (for zsh):
[code]

[code]

[2020-04-24 15:09] icy commented on #130
@jody-frankowski That feature is great for `pacman`, but I am not sure it's supported on other distribution. What distro/OS you're using with pacapt now? Thanks

[2020-04-26 11:21] rami3l commented on #126
@icy It's been a month and things are going quite well!

I think the best way to keep the momentum is to get happier while coding (I kind of hate the copy-paste approach in my original Golang implementation). So it took me quite a while to decide what to do, and I have finally finished rewriting the whole Golang code base in Rust, the language of my preference, and a language which handles multi-p

[2020-04-26 11:33] icy commented on #126
Amazing and congratulation for the first success :100:

I don't know Rust much (At my work people are using Golang). I used to play with Dlang in my free time. However I know Rust is a better choice for many purposes. I'm happy that you've found the right tool and also get tool worked on your daily basis.

PS: I don't have much free time at the moment, it's hard for me to work on some hobby projec

[2020-05-09 03:27] rami3l commented on #129
@Mithrandir2k18 I'm actually [rewriting](https://github.com/rami3l/pacaptr) `pacapt` and I just come across this issue. I'm interested in adding this option, but I wonder if `pacapt -S` should do a force reinstall (to be more like `pacman`) or do a `--needed` install when calling package managers like `apt`...

[2020-05-09 03:47] rami3l commented on #126
@icy I managed to build utilities to check stdout [here](https://github.com/rami3l/pacaptr/tree/rs-dev/tests), and you can see that I borrowed a bit of the test pattern from this project. (Thanks!)

Although I'm not quite sure, it looks like we have test cases for just a small part of package managers in this repo, so how's everything else guaranteed... or are they (?_?)

PS: It'll be so nice if y

[2020-05-09 09:36] Mithrandir2k18 commented on #129
@rami3l That's a really good question and seems to be a design choice to make. Since I personally love to use pacapt to emulate pacman on distros that don't come with it, I'd prefer it adhering closely to the way pacman works; so that I can run the same install scripts on all my machines.

That said, whether `--needed` on ubuntu simply gets accepted, but ignored, since it's the default for `apt` a

[2020-05-09 10:37] rami3l commented on #129
@Mithrandir2k18 Thanks a lot for your reply.

Now I see the need of using a single script across platforms, but it seems that we can ask similar questions about `--noconfirm` and more…

A nice thing about `pacman` is that, although -S is both for install and reinstall, there will always be a prompt asking if you really want to (re)install, unless you said `--noconfirm`.

First I thought, for examp

[2020-05-10 07:17] icy commented on #126
@rami3l Thanks a lot, and congratulations. I've got some tough problems at my work and was not able to catch up with you.

Feel free to open a PR to mention your project there. I believe you don't need to rely on the original idea of pacapt, as that way you have more freedom. When your project is cool and stable enough, we can decide what to do with the current script then.

Regarding the tests, i

[2020-05-12 05:50] icy commented on #126
Fixed in https://github.com/icy/pacapt/pull/131

[2020-05-12 05:50] #126 closed, assigned to nobody

[2020-05-16 03:37] rami3l commented on #129
@Mithrandir2k18 Now I've tried to add a custom [Y/n] prompt to `homebrew`. That can be consistent, since `homebrew` doesn't have any prompt at all. But then I wonder what will happen when I move on to `apt/dpkg`. Some commands will have their native prompt while I have to add my own to some others... Things will get quite messy there, and I really doubt if this is the right way of doing things...

[2020-05-25 10:32] Mithrandir2k18 commented on #129
@rami3l If maintaining it for your project is too much work you could add an option to pass a mapping file, so e.g. if I need an apache server and the package is named X on pacman and Y on apt, I can provide a file that does the mapping based on OS. This way a user can maintain the mappings they need themselves, and if they are nice they can share it via pull requests.

I also don't know if artifi

[2020-05-25 10:40] Mithrandir2k18 commented on #44
An idea that came up that could work is have something like `.pacaptrc` or `pacapt -S httpd --packagemapping mypackagemapping.json/yaml/...`. Basically a file with custom mappings for some of the distros, e.g. if my install script targets only arch and ubuntu, I'll have one entry for the name I want to map, e.g. `httpd` and a lookup into the provided file would find it and map it to `apache` or `a

[2020-05-25 13:11] rami3l commented on #129
@Mithrandir2k18 This idea sounds interesting! Might look into it later. Thanks a lot! 😆

PS: After some tweaks I think I am OK with additional prompts added to `homebrew` (useful when preventing unwanted “big” operations eg. installation), but since some might not like it, an `rc` file would definitely help!

[2020-05-28 07:29] icy commented on #44
@Mithrandir2k18 Thanks for your idea.

Generally `pacapt` doesn't look into details of the user input. They don't really care if there is package name specified from the arguments. that's still possible to have a support for package mapping, by giving a simple (pre)hook. Let me wrap up some code for this to see how it works. Weekend is there... stay tuned. Thx

[2020-06-02 15:53] itsTyrion opened #132 "Error/delayed/no autocomplete on xubuntu 20.04"
Using bash, zsh or fish, I can tabcomplete sudo apt install <beginOfPackageName> just fine.
Using sudo pacman -S, tabcomplete doesn't work on bash or zsh. On fish it works but pretty delayed + it gives an error:
![image](https://user-images.githubusercontent.com/17730120/83541448-f4420200-a4f9-11ea-8f0b-d6f9313f402f.png)

[2020-06-07 18:31] AndydeCleyre opened #141 "Qo should check PATH if arg not found as relative or absolute path"
[code]

Arch, real `pacman`:

[code]

Alpine:

[code]

Fedora:

[code]

[2020-06-10 10:56] icy commented on #132
hi @itsTyrion , it's also discussed in this https://github.com/icy/pacapt/issues/79. I haven't used any kind of autocompletion so I would expect someone to have Pr.

@cuonglm can you please help?

Thanks

[2020-06-10 10:59] icy commented on #141
@AndydeCleyre I also like to have this feature, however supporting it is not so easy. It's more about the things that the upstream package manager (yum, apk) would do:

https://github.com/icy/pacapt/blob/0ef1133fc34a34a0099514106f4a9cb6019732fc/lib/apk.sh#L38

@cuonglm Any idea?

[2020-06-10 12:45] cuonglm commented on #141
II don’t think we should add this, it adds more complexity without any much benefit.

[2020-06-10 15:14] cuonglm commented on #132
I don't have Linux now, but you can always do:

[code]

And use the same output of above command, but replace pacmac by pacapt.

[2020-06-10 17:07] AndydeCleyre commented on #141
OK. Just to flesh out how I stumble over this:

I use `-Qo` frequently to see which package provides an executable. Then let's say I'm on a fedora:32 system, I'll end up doing something like this:

[code]

[2020-06-10 17:11] AndydeCleyre commented on #141
Ah, but a detail: if `which` is (also) provided by the shell (as in ZSH), then `type` will report that it's a builtin, while `whereis` will report the package-provided path, as will real `pacman -Qo`.

[2020-06-12 06:43] icy commented on #141
@AndydeCleyre

What is the output of `rpm -qf adduser`? See also https://github.com/icy/pacapt/blob/0ef1133fc34a34a0099514106f4a9cb6019732fc/lib/yum.sh#L42

[2020-06-12 06:51] AndydeCleyre commented on #141
[code]

This is within a container from the `fedora:32` image from docker hub.

[2020-06-29 14:51] crabdancing opened #143 "No --quiet mode"
If I do `pacman -R $(pacman -Qsq | grep potato)` I can uninstall all `potato` related packages in one go, on an Arch Linux system. On Ubuntu, using `pacapt`, I cannot. This seems to me to be a big piece of missing functionality.

[2020-07-06 11:37] icy commented on #143
Does ` pacman -Qq` work for you?

[2020-07-06 11:39] icy commented on #143
On my current Arch, these are the same

[code]

I suspect you're looking for `-s` option, which is supposed to be an alias of `pacman -Qq`. But I'm not sure...

[2020-07-06 17:00] alxpettit commented on #143
The `-s` option does not fix my problem.

The `-s` option means search. `-s` is behaving the same in that situation
because you don't have any search term. Also, note that you're putting `-q`
on both, which means both outputs will be quiet. If you try having one with
`-Qs` and the other with `-Qq`, you will see a marked difference.

To see easier what `-s` does: if you add a search term, you'll se

[2020-07-06 17:01] crabdancing commented on #143
The `-s` option does not fix my problem, unfortunately.

The `-s` option means search. `-s` is behaving the same in that situation
because you don't have any search term. Also, note that you're putting `-q`
on both, which means both outputs will be quiet. If you try having one with
`-Qs` and the other with `-Qq`, you will see a marked difference.

To see easier what `-s` does: if you add a search

[2020-07-07 09:23] icy commented on #143
Thanks a lot, @alxpettit . I think we need to add another option (-q) to this one https://github.com/icy/pacapt/blob/0ef1133fc34a34a0099514106f4a9cb6019732fc/lib/dpkg.sh#L73 .

[2020-08-27 17:37] schra opened #145 "-Qi and -Qs find uninstalled packages when they weren't purged"
For example, I deinstalled the following package:

[code]

Altough I deinstalled the package, I can still find with via `-Q`:

[code]

Purging the package fixes the problem:

[code]

My expectation is that removed but un-purged packages are not found via `-Qs` and `-Qi`.

[2021-02-23 04:00] fracturedprism commented on #117
An update:
Brew Cask now does not need the `brew cask` command to work, instead it works with standard brew. If the cask version of the formula is needed, the --cask flag can be used, as in `brew install --cask foo` .

[2021-05-21 05:45] icy commented on #145
Hi @schra ,

Sorry for my belated response. I didn't configure my notification system correctly and I lost all Github information.

Can you please try `pacman -Rn` (https://github.com/icy/pacapt/blob/735b2ea56cbd8a8a61f8242ae9cd23ce6b4405ae/lib/dpkg.sh#L90)

Thanks

[2021-06-15 23:55] LaszloGombos opened #149 "Switch the requirement for bash to POSIX shell instead"
Would it be possible to switch to POSIX shell instead of bash ?

For example alpine linux does not come with bash preinstalled (comes with busybox). This means that the environment needs to be bootstrapped with the native package manager first "apk add bash" before pacapt can be used. Huge fan of the project, just wanted to point out this are for potential improvement.

[2021-06-15 23:58] LaszloGombos opened #150 "--noconfirm for apk"
I am getting the following error.
Error: apk: Option '--noconfirm' is not supported/implemented.

Perhaps '--noconfirm' should not need to be passed on to apk

[2021-06-16 00:31] cuonglm commented on #149
FYI, busybox sh is not a POSIX shell, though.

[2021-06-16 03:20] icy commented on #149
@LaszloGombos Thanks for using our `pacapt` and for your suggestion.

I believe the current script has some non-POSIX feature. Porting the script to POSIX shell It's quite possible, though we need to update quite a lot of (its) scripts.  The tool also requires grep/awk. I'm not sure about busybox though. I think the need is to address your `runtime` environment. For that, at the moment, you may wa

[2021-06-16 03:30] icy commented on #150
Thanks @LaszloGombos for the report.

If `apk` doesn't have that option, we can update this function to avoid that error message: https://github.com/icy/pacapt/blob/735b2ea56cbd8a8a61f8242ae9cd23ce6b4405ae/lib/00_core.sh#L181 . I will need to confirm this. I come across this thread https://unix.stackexchange.com/a/565076, which is positive.

@cuonglm What do you think?

[2021-06-16 03:44] cuonglm commented on #150
@icy I think it's safe to return `""` for alpine, as it runs non-interactive by default.

[2021-06-16 13:01] icy commented on #145
@schra Recently I have had chance to use the purge option. This is what I did on some ubuntu systems:

[code]

and that did actually purge all configuration files within the packages. Hope this helps.

[2021-06-16 13:02] icy commented on #145
I think the behavior is actually how apt-based system is working, and I don't think it's a good idea to fix their behavior from our tool. cc @cuonglm fyi

[2021-06-16 17:06] rami3l commented on #149
@icy Thanks for having mentioned my port!

According to my observation, people seem to go back and forth between [`pacapt`](https://github.com/icy/pacapt) and [`pacaptr`](https://github.com/rami3l/pacaptr) due to the fact that the scopes of the two projects are already slightly different.

Maybe it's time to clarify those differences somewhere, so that people can make a better choice :)

PS: What

[2021-06-16 17:53] icy commented on #149
@rami3l You're welcome. And thanks for your comparison. I'm happy to see your tool has got some success. That's how open source things are working :)

Regarding `homebrew` I also have seen some new updates, but I don't use them heavily to get them correctly. Do you have a link to the new `homebrew` features that I can have a look?

I'd like to focus on stability of `pacapt` and on having more smok

[2021-06-16 20:23] rami3l commented on #149
@icy Thanks! Actually I'm using `pacaptr` kind of as my Rust playground right now, trying to add into it all sorts of things as I see fit.

In short, `homebrew` is eliminating its `cask` subcommand. For example, what once should be done with `brew cask install` now simply goes with `brew install` (that was what I wanted from `pacapt`: automatic `cask` detection).

Sadly I don't believe that `homeb

[2021-06-17 05:31] icy commented on #150
@LaszloGombos @cuonglm I've raised new PR (https://github.com/icy/pacapt/pull/151). Please have a quick look. I will get it merged and released in the next minor verion. Thanks

[2021-06-17 05:47] icy commented on #149
@rami3l

### Regarding the `homebrew`

Thanks a lot for your explaination. I also saw the same note about the deprecation of `cask` somehwere, and at that time (and now) I thought the script needed to deal with the compatibility issue (two versions of `homebrew`, one with `cask` and one without it). To be honest, the case of `homebrew` is quite exceptional. But of course, I think `pacapt` needs to

[2021-06-17 19:33] icy commented on #27
Will create other os-based tickets instead.

[2021-06-17 19:33] #27 closed, assigned to icy

[2021-06-17 19:37] icy commented on #132
This problem should be fixed by  https://github.com/icy/pacapt/issues/79 .

[2021-06-17 19:37] #132 closed, assigned to nobody

[2021-06-17 20:21] icy commented on #141
My so belated response, now with a PR: https://github.com/icy/pacapt/pull/152. Please have a look @AndydeCleyre and @cuonglm . Thanks.

[2021-06-17 20:41] icy commented on #53
@NgoHuy Can you please submit a patch? Thanks

[2021-06-17 20:43] icy commented on #117
`cask` is now not required :D

[2021-06-17 20:57] icy commented on #96
@ghost Sorry for the belated feedback. Should be fixed with https://github.com/icy/pacapt/issues/143. I'm closing this issue and sending new Pr.

[2021-06-17 20:57] #96 closed, assigned to nobody

[2021-06-18 05:45] #141 closed, assigned to icy

[2021-06-18 05:46] icy commented on #143
Fixed in https://github.com/icy/pacapt/pull/154

[2021-06-18 05:46] #143 closed, assigned to icy

[2021-06-18 06:28] icy commented on #149
<details>
   <summary>`shellcheck` POSIX logs (`pacapt-2.4.4`)</summary>
<p>

[code]
</details>

[2021-06-18 06:30] icy commented on #149
We don't really need to rewrite all parts using POSIX. We just need POSIX on some restricted environment . e.g OpenWRT (https://github.com/icy/pacapt/issues/62). Is that possible to switch the shell at the run-time, @cuonglm ?

[2021-06-18 06:32] #150 closed, assigned to nobody

[2021-06-18 06:33] icy opened #155 "lib/apk: Fix interactive option"
@cuonglm I agreed with you, but then I think twice. We don't try to fix the behavior of the script (interactive vs non-interactive). We let `apk` do that, and if possible, we give another option for `apk` (in the recent commit, I also add `_TOPT`, but this currently doesn't work because `-i` option has a different mean in the original `pacman`, -- I would have to refine the argument parsing step).

[2021-06-18 06:33] icy commented on #155
Related to #150

[2021-06-18 06:37] cuonglm commented on #149
@icy what do you mean "switch the shell at run-time"?

You can call `exec` to replace the current process (bash) with the new process (sh), but you still need bash anyway.

[2021-06-18 06:45] icy commented on #149
Oh, `exec` is a nice idea. What I would need is to launch `bash` from `sh` (not vice-versa). Let's say when user is within `openwrt` where `sh` is available (hopefully:D), if we can't see `bash` there, we continue until it's exhausted; otherwise, we switch over to `bash`. This is only applicable when the library strictly requires a POSIX shell.

[2021-06-18 07:46] rami3l commented on #149
@icy Can you use foldable code blocks? That looks like a spam to me otherwise :/

[2021-06-18 07:59] icy commented on #149
Sorry I thought that's done automatically :dagger:

[2021-06-18 09:53] icy commented on #53
Fixed in https://github.com/icy/pacapt/pull/156 . Thanks @cuonglm and @NgoHuy for your great support.

[2021-06-18 09:53] #53 closed, assigned to nobody

[2021-06-18 21:34] icy commented on #149
With recent changes in https://github.com/icy/pacapt/pull/161/files:

* Yes, we can! <s>We can't mix POSIX and non-POSIX features in the same script: They won't work in `strict-`POSIX environment</s>
* (update: Single script, two features). <s>We can generate a POSIX version of `pacapt` (for now, it only contains `apk`): That version now can run completely inside an `alpine` image without `bash` :

[2021-06-19 09:29] icy commented on #149
Great Saturday. I finally can mix up both POSIX and non-POSIX features in the same script. The script detects and loads non-POSIX features dynamically (this was what I couldn't do in any elegant way in my Dlang code :D). Feel free to give a CR on https://github.com/icy/pacapt/pull/161/files  . Thanks a lot.

cc: @cuonglm @LaszloGombos @NgoHuy

[2021-06-19 10:11] icy commented on #62
@arnottcr  `POSIX` environment now can be supported thanks to #161 . Once it's merged I'll get back to this issue. Thanks.

[2021-06-19 18:47] #149 closed, assigned to nobody

[2021-06-19 18:48] icy commented on #62
Due to wrong linking the ticket was closed automatically. I reopen it now. Thanks.

[2021-06-20 18:09] icy commented on #62
A quite complete `opkg` support : https://github.com/icy/pacapt/pull/162/files#diff-88f1c7341e39e99c75f394dc9cccbebdc080299d915d4839bfb85352740d9385

Please help to review PR and I'll release them next week. Thanks.

[2021-06-21 21:03] #62 closed, assigned to icy

[2021-06-21 21:04] icy commented on #155
Some wrong link, again =)) I would never try that feature again :D

[2021-06-21 21:06] icy opened #163 "Rewrite some libraries in POSIX"
- [x] freebsd support
- [x] macports

[2021-06-21 21:47] icy commented on #62
I'm happy to release new version `v3.0.0`, its `opkg` support is ready :) I would have written the script with `POSIX` from the first day (kinda 11 years ago:D). This request is > 5 years ago, but it's still better to have something late than... never.

Enjoy `opkg` support: https://github.com/icy/pacapt/releases/tag/v3.0.0

edit: fix typ0

[2021-06-29 07:02] #163 closed, assigned to icy

[2021-07-03 23:24] chenrui333 opened #170 "pacapt 3.0.1 issue with `_homebrew_init: command not found`"
👋  I am trying to [upgrade the homebrew formula](https://github.com/Homebrew/homebrew-core/pull/80526) to the use the latest release, but somehow the CI reported some issue that I could not reproduce it in my local.

error log
[code]

You can see the full build log in here, https://github.com/Homebrew/homebrew-core/runs/2980929327
Here is the [previous 3.0.0 upgrade PR](https://github.com/Homebrew

[2021-07-04 03:46] icy commented on #170
Thanks @chenrui333  for your report. `pacapt` assumes the current shell is `bash` and the new versions (3.x.x) don't handle well that situation when `bash` is missing. Let me fix that today and release new version next week.

[2021-07-04 04:20] icy commented on #170
To be specific, the current `pacapt` needs a few options from `Bash-4` which is not generally available on `MacOS`

[2021-07-04 04:23] icy commented on #170
POC: The following line works as expectedl in `Bash4`, but doesn't work on `Bash3`:

[code]

[2021-07-04 14:47] mondeja opened #173 "dkpg -Sy accept options but displays a warning"
I've seen this `FIXME` in `dpkg_Sy`:

[code]

I can pass options after `update` in the `apt-get` command:

[code]

but trying that with `pacapt` displays a warning:

[code]

[2021-07-04 15:25] icy commented on #173
@mondeja

This is an expected issue. Let me explain. From the original `pacman`, it's not recommended to use `pacman -Sy foo` to install some package and update package database at the same time (hence the warning).

`pacapt` tries to generate that warning, but it isn't smart enough to know if `--quiet` is a dpkg's option or package name. To avoid that problem you've facing, this line

https://git

[2021-07-04 18:56] #170 closed, assigned to icy

[2021-07-04 19:18] icy opened #175 "Re-add homebrew/Qo, homebrew/Rs"
which are removed from https://github.com/icy/pacapt/pull/171

[2021-07-05 00:03] mondeja commented on #173
It would be sufficient to display the warning only if all passed arguments don't start with `-` character? An argument like `-q`, `-qq` or `--quiet` it would be very strange if it were a package to install. What do you think?

[2021-07-05 05:30] icy commented on #173
You're right. For `--quiet` I think that's possible/easy: https://github.com/icy/pacapt/pull/177/files , please have a look.

I've invited you to the project. I will do that for other contributors  for a convenience purpose (PR review request, build status,...) Feel free to join, and thanks.

[2021-07-05 05:35] icy commented on #170
@chenrui333 Thanks again for your report. I've fixed in #171, and also deprecated two operations (`homebrew/Rs`, `homebrew/Qo`) which are supposed to be re-implemented in some release. The script now works fine on Homebrew with Bourne shell (without Bash3).

Changes will be in the next version `v3.0.2`. Stay tuned.

[2021-07-05 05:35] icy commented on #175
Rel. : #170

[2021-07-05 11:02] #173 closed, assigned to mondeja

[2021-07-05 20:58] icy commented on #126
@rami3l

I'd like to get back to this ticket with some updates.

Now most parts in the library `lib` are ported to `POSIX` shell (starting with https://github.com/icy/pacapt/issues/149 and the 6-year old ticket: https://github.com/icy/pacapt/issues/62). There are few issues (`lib/cave`, homebrew: https://github.com/icy/pacapt/issues/175), but in general that's very great outcome -- I should have s

[2021-07-05 22:21] rami3l commented on #126
@icy Thanks for the update! In fact, it was your idea of remaking `pacapt` that made me a better developer in general.

What you've done is a really nice work, congrats! I still agree that technically, nothing beats `sh` in implementing something like this (especially not a compiled language such as D, Go or Rust).

At the same time, working on the Rust port is also an enriching experience for me:

[2021-07-06 05:04] icy commented on #126
Thanks for your sharing @rami3l . The tool and the idea may vary, but the open spirit would be the same and that I love to read from your message.

Shell is hard. I keep my eyes on this project https://github.com/oilshell/oil, but I've not seen any [work] place I can be ready for it. Give it more time. Maybe you want to help that project too.

What I am surprised from your Rust port is how it deal

[2021-07-06 15:25] rami3l commented on #126
@icy In terms of usage, how is a bash extension (dylib?) different from an executable binary?

[2021-07-06 15:49] icy commented on #126
It'd be faster, and give some additional feature to Bash tool. One of the great examples is `recutils` (disclaimer: I haven't used them heavily tho.)

* library loading: https://www.gnu.org/software/recutils/manual/Bash-Builtins.html#Bash-Builtins
* how new feature `readrec` is added: https://www.gnu.org/software/recutils/manual/readrec.html#readrec

That said I've not used the feature heavily. It

[2021-07-06 16:03] icy commented on #126
I've tried the tests (the `hello` library from my dusybox)

[code]

[2021-07-06 16:28] rami3l commented on #126
@icy If this dylib is exposing nothing more than a few "extern C" stuff, then I can't see anything stopping one from doing the same thing in Rust...

PS: Speaking of coreutils, we now have a cross-platform Rust rewrite of the GNU coreutils at https://github.com/uutils/coreutils.

[2021-07-06 16:46] icy commented on #126
Got it. Thanks for the clarification.

Great. I think I learnt about that from HackerNews, but I haven't tried that yet.

[2021-07-08 05:01] chenrui333 commented on #170
@icy thanks a lot for your efforts, gonna try it now. ([PR ref](https://github.com/Homebrew/homebrew-core/pull/80791))

[2021-07-08 05:09] icy commented on #170
You're welcome, @chenrui333 . Now `pacapt` project also has their CI tests executed by github-action [1]. Next release won't surprise you again ;)

Does that make sense to run the same tests during `homebrew` release process [2]? I can help to make our tests available in the Formula.

Thanks

[1] https://github.com/icy/pacapt/blob/ng/tests/homebrew.txt
[2] https://github.com/Homebrew/homebrew-core

[2021-07-08 14:08] icy commented on #126
@rami3l Would you mind recommending some book on system programming in Rust? Thanks.

[2021-07-08 15:00] rami3l commented on #126
@icy You really don't need to buy any book.
The official tutorial ([The Rust Programming Language](https://doc.rust-lang.org/stable/book/)) is good enough to start your journey, and you can go to the [doc site](https://doc.rust-lang.org/) to read the Reference, the Rustonomicon, etc. when you want to know something more advanced.

[2021-07-08 15:22] icy commented on #126
I have  a problem. I can't read anything from laptop or reader device (which I don't have.) Yes I do but that's not how I want to spend time with my hobby :dancers:

[2021-07-08 15:45] rami3l commented on #126
@icy Lucky for you, the tutorial (a.k.a The Book) also comes with a printed version (and quite expensive in Europe, huh?), but please remember that Rust is a quickly evolving language, and the Book, as I remembered, is already a bit different from what I have read when I was learning Rust.
Actually, now `pacaptr` is more of a notebook to me. ~~I'm no longer using just what I need to build this pro

[2021-07-08 15:58] icy commented on #126
Oh I will try again. Yes in Europe books are expensive :dagger:

Yes I know. I already have some out-of-date books here, but it's fine. When I have new thing you can compare with old ones. With online resources it's a little to hard to do that (or I don't know how to do)

Basically I have a few weeks off soon, and I need to take a break with new things :P

[2021-07-09 07:55] rami3l commented on #126
@icy I always forget to add `architecture.md` to my project, but I'd love to give you a comprehensive introduction if you want a guide through my project (i.e. my notebook) XD

[2021-07-09 07:59] icy commented on #126
Thanks for your suggestion. I'm happy to hear that. Please give sometime to write `architecture.md` , as I think it's better option for _everyone_ (not simply me). But I definitely need to ask you many things once I will be gettin myself onboarded on some Rust code ;)

[2021-07-13 18:43] icy commented on #175
I'm not really interested in implementing some backend's feature. This would be something needed to be done by `homebrew`. Let me dig in their issues system and docs.

[2021-07-20 08:46] SsNiPeR1 commented on #116
whats wrong with void linux?
there is no package manager?

[2021-07-20 08:59] icy commented on #116
Hi @BurhanDanger and @SsNiPeR1 ,

We have a PR here https://github.com/icy/pacapt/pull/99 but it's not updated/merged yet.

[2021-07-20 09:13] icy commented on #175
On `Ro`: https://superuser.com/questions/781693/how-to-determine-which-brew-package-provides-a-given-file

[2021-07-29 13:10] mondeja opened #202 "Add support for microdnf"
See [microdnf repository](https://github.com/rpm-software-management/microdnf) and [man page](https://www.mankier.com/8/microdnf). It's included in [oraclelinux:8-slim container image](https://github.com/oracle/container-images#differences-between-oraclelinux8-and-oraclelinux8-slim).

[2021-08-03 12:12] rami3l commented on #175
@icy AFAIK `homebrew` has added `brew autoremove [--dry-run]`, but this doesn't accept parameters (yet).

[2021-09-28 09:17] AeriaVelocity opened #206 "apt-cyg support?"
Could support for Cygwin's `apt-cyg` be added?

[2021-09-28 10:32] icy commented on #206
Hi @That1M8Head,

That's possible. The good news is that I have a Windows machine now (after years on Linux I need to buy a Windows node to get my midi controller to work :D).

Do you know any easy way to install Cygwin? The last time I did that was kind 12 years ago [1]. That would save me a bit of time.

Thanks

[1] https://github.com/viettug/vnmik4

[2021-09-28 10:38] AeriaVelocity commented on #206
Cygwin isn't too hard to install, it has a guided installer which you can also install packages with. `apt-cyg` is available from [here](https://github.com/transcode-open/apt-cyg). Everything you need should be in that repo.

[2021-09-29 05:59] meichengg opened #208 "Enable homebrew verbose and debug mode"
Hi, i would like to make suggestion to enable homebrew verbose and debug mode such as `-v` and `-d`. Would be nice if this is implemented not only for Homebrew but for others as well.

[2021-09-29 07:05] icy commented on #208
Hi @meichengg , I think the `-v` option is already supported (partially tho). Can you please give it a try (with `homebrew`)

[code]

Relevant code below. The option (if found) will be part of `_EOPT` [3] and in theory it should be processed by the backend [4]

[1] https://github.com/icy/pacapt/blob/b733313875975c5195e543356dc4729dd77a3d01/lib/zz_main.sh#L232
[2] https://github.com/icy/pacapt/blob

[2021-09-29 07:13] #208 closed, assigned to nobody

[2021-09-29 08:02] icy commented on #208
Though the issue is closed, I think there is still an option for improvement: It's because verbose and debug may not be the same thing in some (or many) situations. Please don't hesitate to reopen the ticket if you have found any issue with `-v` option.

Thanks  a lot and enjoy `pacapt`.

[2021-10-04 05:33] ThatOneVideoGamer opened #212 "How to uninstall???"
So I just wanted to try this out but I cannot find anywhere on how to remove this now that I have it installed

[2021-10-04 07:06] icy commented on #212
Hi @ThatOneVideoGamer ,

That depends on your installation method:

* If you downloaded and installed the script as seen in https://github.com/icy/pacapt#installation, you can simply remove the script from your system. To find where the script is, please type `command -v pacapt` (or `command -v pacaman` if you did rename the script before)
* If you installed the script via system package manager (

[2021-10-04 10:12] #212 closed, assigned to nobody

[2021-10-08 13:39] AeriaVelocity commented on #206
How's that going?

[2021-10-08 19:06] icy commented on #206
Hi @That1M8Head , sorry for the belated response. We will have an initial support early next week. Stay tuned!

[2021-10-11 06:10] #206 closed, assigned to nobody

[2021-10-11 06:26] icy commented on #206
@That1M8Head , we've had a new releases v3.0.5 (https://github.com/icy/pacapt/releases/tag/v3.0.5) with the initial support for cygwin/apt-cyg. The backend has some nice features that I want to add, but tbh, my time is suddenly limited these days. Some tests are also failing but it's fine; I had all manual tests on cygwin (search, add, remove, update package databases or so).

Please give them a t

[2021-10-11 06:59] AeriaVelocity commented on #206
Awesome! If I can help at all (y'know other than testing) then let me know!

[2021-10-11 10:08] icy commented on #202
@mondeja does that have the same "user interface" as the known `dnf`?

[2021-10-11 10:21] mondeja commented on #202
It is a subset, you can compare [microdnf man page](https://www.mankier.com/8/microdnf) and [dnf man page](https://www.mankier.com/8/dnf).

[2021-10-26 16:06] icy opened #214 "dpkgng: a problem with fetch (w) option"
[code]

Looked liked the option translation did its job wrong.

[2021-12-11 23:08] TabulateJarl8 commented on #116
I added support in #215, although #200 may be another option, not sure which is better to be merged

[2022-01-03 11:46] icy commented on #116
Released in https://github.com/icy/pacapt/issues/116

[2022-01-03 11:46] #116 closed, assigned to nobody

[2022-01-05 21:27] #214 closed, assigned to icy

[2022-01-06 06:44] icy opened #221 "Fix broken VM-based test setup"
pkgng and sunports both use VM-based test setup and they have been broken .

[2022-01-06 10:08] mondeja commented on #221
Seems that `vboxmanage` is not included by Github in [macOS-11 machines](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11-Readme.md).

[2022-01-06 10:15] icy commented on #221
No, it's not included there somehow. I will try to download the tool inside the VM. I saw the error (127 command not found) but I was expecting there was some upstream error :D

[2022-01-06 12:03] #221 closed, assigned to mondeja

[2022-04-18 03:22] janechicken opened #224 "Feature request (add pacman -Qu)"

[2022-04-21 08:51] icy commented on #224
Hi @ThatOneOcto,

I think `-Qu` is supported by some systems (not all), as seen in https://github.com/icy/pacapt#implemented-operations .

What's packager manager you're working on?

Thanks

[2022-04-21 08:53] #129 closed, assigned to nobody

[2022-04-24 00:55] janechicken commented on #224
Right now I'm working with emerge (Portage) and I'm trying to use it for my dwm blocks config

[2022-04-27 17:52] thebitstick opened #225 "Add support for Nix"
See the [command reference](https://nixos.org/manual/nix/stable/command-ref/nix-env.html).

[2022-09-20 09:42] krasnh commented on #130
+++++++++ :)

`dpkg -S file`

Example:
[code]

[2022-09-20 21:33] jody-frankowski commented on #130
Here is a (non-exhaustive) list of other distros implementations: https://ostechnix.com/find-package-provides-specific-file-linux/ (Forgot to answer. Sorry!)